.app-container {
    width: 80%;
    margin: 0px auto;
}

.big-app-container {
    width: 85%;
    margin: 0px auto;
}

.small-app-container {
    width: 75%;
    margin: 0px auto;
}

.mini-app-container {
    width: 65%;
    margin: 0px auto;
}

.index-container {
    width: 1000px;
}

.el-aside {
    margin: 0px 10px;
    text-align: center;
}

.divider{
    display: block;
    height: 1px;
    width: 100%;
    margin: 10px 0px 20px 0px;
    background-color: #DCDFE6;
}

.onePxDivider{
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 2px;
    background-color: #DCDFE6;
}